body{
    background-color: #F5F5F5;
}
/* banner */
.save-banner{
    height:0.99rem;
    width:4rem;
    /* border:solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0.35rem;
    margin: auto;
   
}
.news-text{
    margin:0 0.3rem;
    /* width: 1.35rem; */
    height: 0.45rem;
    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 0.38rem;
    color: #3655F2;
    letter-spacing: 0.01rem;
    border:solid 1px #F5F5F5;
}
.left-icon,.right-icon{
    /* border:solid 1px red; */
    display: flex;
    height:0.99rem;
    width:0.7rem;
    justify-content: start;
    align-items: center;
}
.left-icon-l{
    width: 0.46rem;
    height: 0px;
    border: 0.02rem solid #3655F2;
    background: #3655F2;
}
.icon-span-r{
    width: 0.11rem;
    height: 0.11rem;
    background:  #3655F2;
    border-radius: 50%;
}
.right-icon{
    margin-right:0.3rem;
}
.right-icon-l{
    width: 0.11rem;
    height: 0.11rem;
    background:  #3655F2;
    border-radius: 50%;
    opacity: 1;
}
.right-span-r{
    width: 0.46rem;
    height: 0px;
    border: 0.02rem solid #3655F2;
    background: #3655F2;
    opacity: 1;
}
.search-text{
    /* border:solid red 1px; */
    width: 100%;
  
  }
